---
 const personalImageAlt = "Sebastián"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-900 dark:text-gray-300 md:flex-row">
  <div
 ﹥   class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Sebastián y soy del mejor país de Chile 🇨🇱. Soy Analista de Sistemas por más de 20 años. <strong
        >Principalmente en la administración y desarrollo en ERP People Soft, Oracle EBS y a medida</strong
      >.
    </p>

    <p>
      He desarrollado en varios lenguajes de programación. Comencé en el año 1996 con <strong>QBASIC</strong> 
      , hasta el día de hoy con <strong>Python y Nodejs.</strong> También he trabajado Bases de Datos <strong>Oracle, SQL Server y Mysql </strong>
      de manera profesional y <strong>SQLite</strong> para desarrollos personales.
    </p>

    <p>
      Entre mis mayores logros puedo descatar la integración de sistemas. Logrando la <strong>sincronización</strong> de datos
      entre distintas plataformas, lenguajes de programación y Bases de Datos (ERP, Página WEB, WMS, TMS).
      He trabajado con equipos multidiciplinarios y multiculturales. Creo firmemente que <em class="italic">¨El conocimiento debe compatirse con todo el equipo¨.</em> Mi objetivo es ser un aporte en cada equipo que integre y mejorar día a día mis habilidades.
    </p>
  </div>

  <img width="200" height="200" src="/foto2.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

